<!DOCTYPE html>
<html ng-app="picolApp">
	<head>
		<title>{{ version }}</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
		<script src="./js/app.js"></script>
	</head>
	<body>
		<h1>Hello world</h1>
		<h3>HomePage de l'API</h3>
		<div ng-view></div>
		<p>Fixed by MANOLO</p>
		<p>Merci MANOLO</p>
	</body>
</html>
