<!DOCTYPE html>
<html ng-app="picolApp" lang="fr">
	<head>
		<title>{{ version }}</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/spectrum.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="js/angularfire.min.js"></script>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/spectrum.js"></script>
		<script src="js/angular-spectrum-colorpicker.min.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="container">
			<hr/>
			<center><h3><a href="#/">Picol'APP</a></h3></center>
			<div ng-controller="mainController">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
								<li ng-repeat="link in links">
									<a href="[[ link.item ]]">[[ link.label ]]</a>
								</li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
				<div ng-view></div>
			</div>
			<hr/>
			<center>
				<p>Fixed by MANOLO</p>
				<p>Merci MANOLO</p>
				<img height="350" width="400" src="./images/picolo.png">
			</center>
			<hr/>
		</div>
		<script src="./js/app.js"></script>
	</body>
</html>
